@charset "UTF-8";
@font-face {
    font-family: "Mona Sans";
    src: url(fonts/MonaSans-Regular.woff2) format('woff2');
    font-weight: normal; /* Regular weight */
}

@font-face {
    font-family: "Mona Sans";
    src: url(fonts/MonaSans-ExtraBoldItalic.woff2) format('woff2');
    font-style: italic;
    font-weight: 800; /* Extra bold weight */
}

@font-face {
    font-family: "Mona Sans";
    src: url(fonts/MonaSans-Italic.woff2) format('woff2');
    font-style: italic;
    font-weight: 400; /* Normal weight for italic */
}

@font-face {
    font-family: "Mona Sans";
    src: url(fonts/MonaSans-SemiBold.woff2) format('woff2');
    font-weight: 600; /* Semi-bold weight */
}

@font-face {
    font-family: "Mona Sans";
    src: url(fonts/MonaSans-Bold.woff2) format('woff2');
    font-weight: 700; /* Bold weight */
}

@font-face {
    font-family: "Mona Sans";
    src: url(fonts/MonaSans-Medium.woff2) format('woff2');
    font-weight: 500; /* Medium weight */
}

 *, *:before, *:after {
	 -webkit-box-sizing: inherit;
	 -moz-box-sizing: inherit;
	 box-sizing: inherit;
}
 html, body {
	 -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	 box-sizing: border-box;
	 margin: 0;
	 padding: 0;
	 -webkit-transition: 0.5s;
	 transition: 0.5s;
	 background: #fff;
	 cursor: default;
	 color: #6AF961;
	font-family: "Mona Sans";
     background-color: #0B3D3B;
     overflow-x: hidden; 
     max-width: 100vw;
}


h1 .first_part {
    color: #ffffff;
    text-align: left;
    font-family: "Mona Sans";
    font-style: italic;
    font-weight: 800;
    font-size: 7vw; 
    line-height: normal;
    position: absolute;
    top: 55%; /* Adjust as needed */
    left: 0; /* Ensures first_part starts from the left edge */
}

h1 .second_part {
    color: #ffffff;
    text-align: left;
    font-family: "Mona Sans";
    font-style: italic;
    font-weight: 400;
    font-size: 7vw; 
    line-height: normal;
    position: absolute;
    top:55%; /* Keep it aligned with first_part */
    left:19%; /* Adjust to create space between first_part and second_part */
}

h2 .first_part {
    color: #6AF961;
    text-align: left;
    font-family: "Mona Sans";
    font-style: italic;
    font-weight: 800;
    font-size: 2vw; 
    line-height: normal;
    position: absolute;
    top: 70%; /* Adjust as needed */
    left: 16%; /* Ensures first_part starts from the left edge */
}

h2 .second_part {
    color: #6AF961;
    text-align: left;
    font-family: "Mona Sans";
    font-style: italic;
    font-weight: 400;
    font-size: 2vw; 
    line-height: normal;
    position: absolute;
    top:70%; /* Keep it aligned with first_part */
    left:30%; /* Adjust to create space between first_part and second_part */
}


h3 {
    color: #6AF961;
    font-size: 5vw;
    font-family: Mona Sans;
    font-style: italic;
    font-weight: 800;
    word-wrap: break-word;
    text-align: center;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
}








/*Line Breaks for About me text*/
#line1::after{
    content: "\a";
}
#line2::before{
    content: "\a";
    white-space: pre;
}
#line3::before{
    content: "\a";
    white-space: pre;
}
#line4::before{
    content: "\a";
    white-space: pre;
}
#line5::before{
    content: "\a";
    white-space: pre;
}
#line6::before{
    content: "\a";
    white-space: pre;
}
#line7::before{
    content: "\a";
    white-space: pre;
}
#line8::before{
    content: "\a";
    white-space: pre;
}

.aboutmetxt {
  color: #fff;
  font-family: Mona Sans, sans-serif;
  font-weight: 600;
  font-size: 2vw;
  text-align: center;
  position: relative; 
  margin-top: 40vh; 
}

/* Span elements wrapping the text and SVG */
.aboutmetxt span {
  position: relative;
  display: inline-flex; /* Ensures text and SVG are on the same line */
  align-items: flex-end; /* Align SVG to the bottom of the text */
  margin: 0 0.2em; /* Slight margin between spans */
}

/* SVG styles */
.aboutmetxt img {
  position: absolute; /* Ensure SVG is positioned absolutely within its span */
  bottom: -0.6em; /* Adjust to move the SVG below the text */
  left: 0; /* Aligns the SVG to the left edge of the span */
  width: auto;
  height: 0.42em; /* Adjust height based on text size */
  margin-left: 0; /* Remove margin between text and SVG */
}

#line1_compsci {
  transform: translateY(-0.3em) translateX(2.8em); /* Apply both transforms together */
}


#line2_passionate {
  height: 0.38em;
  transform: translateY(-0.3em) translateX(10em); /* Fine-tune vertical alignment */
}

#line3_impact {
  height: 0.38em;
  transform: translateY(1em) translateX(-30.8em); /* Fine-tune vertical alignment */
}

#line4_cl {
  transform: translateY(1em)translateX(26.5em); /* Fine-tune vertical alignment */
}

.aboutmeline {
    position: absolute;
    top: 116%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#bg_box {
    position: absolute;
    top: 125%;
    right: 5%;
    color: #6AF961;
    border: #6AF961 0.225em solid;
    border-radius: 28px;
    box-shadow: inset 0 0 0.9em 0 #6AF961, 0 0 0.9em 0 #6AF961;
}

#profile_pic {
    position: absolute;
    top: 125.5%;
    right: 5%;
}

#bg_box_effect {
    position: absolute;
    top: 190%;
    right: 4%;

}

.mobile-alert {
  display: none; /* Hide the h1 by default */
}
.mobile-alert-small {
  display: none; /* Hide the h1 by default */
}
strong {
    color: #6AF961;
    text-align: center;
    font-family: "Mona Sans";
    font-size: 1.3vw; 
    font-style: italic;
    font-weight: 900;
    line-height: normal;
    position: absolute;
    top: 305%; 
    right: 0.5%; 
}

/* Media queries for adjusting font sizes at different screen widths */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 10vw;
    }

    strong {
        font-size: 3vw;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 20vw;
		text-align: center;
		bottom: 30%;
    }

    strong {
        font-size: 4vw;
    }
}


.banner-image img {
  width: 100%; /* Make the image responsive to the container’s width */
  height: 100%; /* Make the image responsive to the container’s height */
  object-fit: cover; /* Scale the image to cover the container */
}
.header{
	min-height: 100vh;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.lightning {
    position: absolute;
    top: 77%; /* Move the SVG down by 50% of the viewport height */
    left: 80%; /* Move the SVG horizontally by 50% of the viewport width */
    transform: translate(-50%, -50%); /* Center the SVG precisely */
}

.firstline {
    width: 100%;
}

.menu {
    position: absolute;
    top: 1%; /* Move the SVG down by 50% of the viewport height */
    left: 1%;
    z-index: 1;
}

.menuText1 {
    position: absolute;
    top: 2.7%; /* Move the SVG down by 50% of the viewport height */
    left: 1.9%;
    z-index: 1;
}

.menuText2 {
    position: absolute;
    top: 2.7%; /* Move the SVG down by 50% of the viewport height */
    left: 10.5%;
    z-index: 1;
}
.menuText3 {
    position: absolute;
    top: 2.7%; /* Move the SVG down by 50% of the viewport height */
    left: 23.2%;
    z-index: 1;
}
.menuText4 {
    position: absolute;
    top: 2.7%; /* Move the SVG down by 50% of the viewport height */
    left: 35.4%;
    z-index: 1;
}


@media only screen and (max-width: 1536px) {
 .menuText1 {
  left: 2%;
 }

 .menuText2 {
  left: 12.6%;
 }

 .menuText3 {
  left: 28.5%;
 }

 .menuText4 {
  left: 44%;
 }
}

@media only screen and (max-width: 1400px) {
      /* Hide everything else */
      body * {
        display: none; /* Hide all elements by default */
    }
    .mobile-alert {
      display: block; /* Ensure the text is visible */
      font-style: italic;
      font-weight: 800;
      font-size: 5rem;
      text-align: center; /* Center the text */
      position: absolute; /* Use absolute positioning */
      top: 35%; /* Adjust this value to move the text up or down */
      left: 50%; /* Center horizontally */
      transform: translate(-50%, -50%); /* Center vertically */
      padding: 0; /* Remove padding if necessary */
  }
  .mobile-alert-small {
    display: block; /* Ensure the text is visible */
    font-style: italic;
    color: #FFF;
    font-weight: 800;
    font-size: 2rem;
    text-align: center; /* Center the text */
    position: absolute; /* Use absolute positioning */
    top: 60%; /* Adjust this value to move the text up or down */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center vertically */
    padding: 0; /* Remove padding if necessary */
}
}

@media only screen and (max-width: 849px) {
  .mobile-alert-small {
    top: 90%; /* Adjust this value to move the text up or down */
    left: 50%; /* Center horizontally */
}
}
svg {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto; /* Adjust the height as needed */
    z-index: 0;
    left: 0;
}


/* Project Section */

.secondline {
    width: 100%;
    position: absolute;
    top: 200%;
}

h4 {
    color: #6AF961;
    font-size: 5vw;
    font-family: Mona Sans;
    font-style: italic;
    font-weight: 800;
    word-wrap: break-word;
    text-align: center;
    position: absolute;
    top: 191%;
    left: 50%;
    transform: translateX(-50%);
}

.projectsline {
    position: absolute;
    top: 214.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ag-format-container {
    width: 50%; 
    margin: 0 auto; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
  }

  .banner-image {
    background-image: url(https://ralfvanveen.com/wp-content/uploads//2021/06/Placeholder-_-Begrippenlijst.svg);
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 100%;
    border-radius: 10px;

  }
  .ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: absolute;
    top: 220%;
    padding: 50px 0;
  }
  .ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
  
    margin: 0 15px 30px;
  
    overflow: hidden;
  
    border-radius: 28px;
  }
  .ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #6AF961;
  text-decoration: none;
    overflow: hidden;
  
    position: relative;
  }
  .ag-courses-item_link:hover,
  .ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #FFF;
  }
  .ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  .ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;
    font-family: Mona Sans;
    font-weight: 700;
    overflow: hidden;
text-align: center;
    font-size: 44px;
    color: #404336;

    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;
  
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;
  
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
  }
  .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;
  
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
  
    border-radius: 50%;
  
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  .ag-courses_item:nth-child(1n) .ag-courses-item_bg {
    background-color: #3ecd5e;
  }
  .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #3ecd5e;
  }
  .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #3ecd5e;
  }
  .ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #3ecd5e;
  }
  .ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #3ecd5e;
  }
  
  .ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #3ecd5e;
  }
  
  
  @media only screen and (max-width: 979px) {
    .ag-courses_item {
      -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
    }
    .ag-courses-item_title {
      font-size: 24px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
  }
  @media only screen and (max-width: 639px) {
    .ag-courses_item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
    .ag-courses-item_title {
      min-height: 72px;
      line-height: 1;
  
      font-size: 24px;
    }
    .ag-courses-item_link {
      padding: 22px 40px;
    }
    .ag-courses-item_date-box {
      font-size: 16px;
    }
  }